<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <title>Number thingy</title>
</head>
<h1>Welcome to number to word thingy</h1>
<form action="/result">
  <div class="form-group">
     <label for="number">Enter a number</label>
     <input id="number" name="number" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
</html>
